p {
    font-family: 'The Nautigal', cursive;
    text-align: center;
}

table {
    margin: auto;
}

td {
    height: 200px;
    width: 100px;
    border: 6px solid white;
}


#first {
    background: #8ECAE6;
}

#second {
    background: #219EBC;
}

#third {
    background: #023047;
}

#fourth {
    background: #FFB703;
}

#fifth {
    background: #FB8500;
}